GOOGLE_PLACES_API_KEY=

JWT_SECRET=

INSERT_USERNAME=
INSERT_PASSWORD=

SELECT_USERNAME=
SELECT_PASSWORD=

UPDATE_USERNAME=
UPDATE_PASSWORD=

DELETE_USERNAME=
DELETE_PASSWORD=

MIGRATION_USERNAME=
MIGRATION_PASSWORD=

GOOGLE_CLIENT_ID=
APPLE_BUNDLE_ID=